.item {
    box-shadow: 0 0 3px rgb(173, 166, 166);
    padding: 15px;
    margin-top: 20px;
}

.item .name {
    color: tomato;
    font-size: 20px;
}
.item .price {
    text-align: center;
    color: black;
    font-size: 20px;
    margin-top: 10px;
}
.item .brand {
    text-align: center;
    color: black;
    font-size: 20px;
}
.item .imgg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.item button {
    margin-top:12px;
    background-color: #1A73E8 !important;
    color: white !important;
}

.item button:hover {
    background-color: #0a4898 !important;
}

input {
    border : 1px solid #4a7fc4 !important;
    box-shadow: none !important;
    outline: none !important;
}
input:focus {
    box-shadow: none !important;
    outline: none !important;
}

.ant-select-selector {
    border : 1px solid #4a7fc4 !important;
    box-shadow: none !important;
    outline: none !important;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform : translate(-50%, -50%);
  }
  .spinner-border {
    height: 100px;
    width : 100px;
  }

  .category {
    border: 2px solid rgb(202, 199, 199);
    margin-right: 50px;
    align-items: center;
    padding-left: 25px;
    border-radius: 5px;
    cursor: pointer;
  }

  .category h5 {
    margin-right: 25px;
  }

  .category img {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    /* margin: -2px; */
  }

  .selected-category {
    border : 3px solid rgb(67, 67, 100);
  }